WcfBindingDemo/WcfClassLibraryWiindowsclient/Connected Services/DumWcfServiceHttp/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DumWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDumWcfService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IDumWcfService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDumWcfService_GetText_InputMessage">
    <wsdl:part name="parameters" element="tns:GetText" />
  </wsdl:message>
  <wsdl:message name="IDumWcfService_GetText_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTextResponse" />
  </wsdl:message>
  <wsdl:message name="IDumWcfService_MultiplyTwoInteger_InputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyTwoInteger" />
  </wsdl:message>
  <wsdl:message name="IDumWcfService_MultiplyTwoInteger_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyTwoIntegerResponse" />
  </wsdl:message>
  <wsdl:portType name="IDumWcfService">
    <wsdl:operation name="GetText">
      <wsdl:input wsaw:Action="http://tempuri.org/IDumWcfService/GetText" message="tns:IDumWcfService_GetText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDumWcfService/GetTextResponse" message="tns:IDumWcfService_GetText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MultiplyTwoInteger">
      <wsdl:input wsaw:Action="http://tempuri.org/IDumWcfService/MultiplyTwoInteger" message="tns:IDumWcfService_MultiplyTwoInteger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDumWcfService/MultiplyTwoIntegerResponse" message="tns:IDumWcfService_MultiplyTwoInteger_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDumWcfService" type="tns:IDumWcfService">
    <wsp:PolicyReference URI="#NetTcpBinding_IDumWcfService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetText">
      <soap12:operation soapAction="http://tempuri.org/IDumWcfService/GetText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplyTwoInteger">
      <soap12:operation soapAction="http://tempuri.org/IDumWcfService/MultiplyTwoInteger" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetNamedPipeBinding_IDumWcfService" type="tns:IDumWcfService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IDumWcfService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetText">
      <soap12:operation soapAction="http://tempuri.org/IDumWcfService/GetText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplyTwoInteger">
      <soap12:operation soapAction="http://tempuri.org/IDumWcfService/MultiplyTwoInteger" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IDumWcfService" type="tns:IDumWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetText">
      <soap:operation soapAction="http://tempuri.org/IDumWcfService/GetText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplyTwoInteger">
      <soap:operation soapAction="http://tempuri.org/IDumWcfService/MultiplyTwoInteger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DumWcfService">
    <wsdl:port name="NetTcpBinding_IDumWcfService" binding="tns:NetTcpBinding_IDumWcfService">
      <soap12:address location="net.tcp://localhost:8080/TcpBinding" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8080/TcpBinding</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-P98FK7A\Rutwik_Kikani</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetNamedPipeBinding_IDumWcfService" binding="tns:NetNamedPipeBinding_IDumWcfService">
      <soap12:address location="net.pipe://localhost/NetNamedPipeBinding" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/NetNamedPipeBinding</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-P98FK7A\Rutwik_Kikani</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IDumWcfService" binding="tns:BasicHttpBinding_IDumWcfService">
      <soap:address location="http://localhost:8090/HttpBinding" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>