MessageContractDemoClient/MessageContractDemoClient/Connected Services/EmployeeServiceHttp/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://EmployeeServiceLibrary.com/Employee" elementFormDefault="qualified" targetNamespace="http://EmployeeServiceLibrary.com/Employee" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EmployeeRequestObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
        <xs:element minOccurs="0" name="LicenseKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeInfoObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>