WCFUserCRUDOperationDemoClient/WCFUserCRUDOperationDemoClient/Connected Services/WcfUserServiceHttp/WcfUserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfUserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/Design_Time_Addresses/WcfUserService/WcfUserService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/Design_Time_Addresses/WcfUserService/WcfUserService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/Design_Time_Addresses/WcfUserService/WcfUserService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfUserService" />
      <xsd:import schemaLocation="http://localhost:8080/Design_Time_Addresses/WcfUserService/WcfUserService?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfUserService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_InsertUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserDetails" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_InsertUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_SelectUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectUserDetails" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_SelectUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_DeleteUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserDetails" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_DeleteUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_GetUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetails" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_GetUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_UpdateUserTable_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserTable" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_UpdateUserTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserTableResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfUserService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfUserService/GetData" message="tns:IWcfUserService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfUserService/GetDataResponse" message="tns:IWcfUserService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfUserService/InsertUserDetails" message="tns:IWcfUserService_InsertUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfUserService/InsertUserDetailsResponse" message="tns:IWcfUserService_InsertUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfUserService/SelectUserDetails" message="tns:IWcfUserService_SelectUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfUserService/SelectUserDetailsResponse" message="tns:IWcfUserService_SelectUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfUserService/DeleteUserDetails" message="tns:IWcfUserService_DeleteUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfUserService/DeleteUserDetailsResponse" message="tns:IWcfUserService_DeleteUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfUserService/GetUserDetails" message="tns:IWcfUserService_GetUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfUserService/GetUserDetailsResponse" message="tns:IWcfUserService_GetUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfUserService/UpdateUserTable" message="tns:IWcfUserService_UpdateUserTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfUserService/UpdateUserTableResponse" message="tns:IWcfUserService_UpdateUserTable_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWcfUserService" type="tns:IWcfUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IWcfUserService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUserDetails">
      <soap:operation soapAction="http://tempuri.org/IWcfUserService/InsertUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUserDetails">
      <soap:operation soapAction="http://tempuri.org/IWcfUserService/SelectUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserDetails">
      <soap:operation soapAction="http://tempuri.org/IWcfUserService/DeleteUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <soap:operation soapAction="http://tempuri.org/IWcfUserService/GetUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserTable">
      <soap:operation soapAction="http://tempuri.org/IWcfUserService/UpdateUserTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfUserService">
    <wsdl:port name="BasicHttpBinding_IWcfUserService" binding="tns:BasicHttpBinding_IWcfUserService">
      <soap:address location="http://localhost:8080/Design_Time_Addresses/WcfUserService/WcfUserService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>